<style>
  .download-image {
    background-image: url("/empty.jpg");
  }
  .download {
    display: none;
  }
</style>
<article class="results" aria-label="Results">
  <p class="status-text">Finished download test!</p>
  <p class="download-speed">Download: {{ download }}</p>
  <p class="download-latency">Latency: {{ latency }}</p>
</article>
<article class="upload" aria-label="Upload">
  <p>You can also find out your upload speed by sending a large file!</p>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input name="download" type="text" value="{{ download }}" hidden required />
    <input name="latency" type="text" value="{{ latency }}" hidden required />
    <label for="file">Max: {{ max_upload_size }}</label>
    <input name="file" type="file" required />
    <button type="submit">Get upload speed</button>
  </form>
</article>
