<style>
  .start-button {
    display: none;
  }
  .download-image {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    background-image: url("/{{ id }}/download.bmp?size=5000000&i=0");
  }
  .download-text::after {
    content: "Downloading...";
  }
  .download-speed::after {
    content: "--";
  }
  .download-progress-bar {
    width: 200px;
    border: 1px solid rgb(0, 85, 150);
    border-radius: 3px;
  }
  .download-progress-bar-fill {
    height: 10px;
    background-color: #00aaff;
    transition: width;
    animation: download-progress {{ test_duration }}s normal forwards linear;
  }
  @keyframes download-progress {
    0% { width: 0%; }
    100% { width: 100%; }
  }
</style>
<p class="download-text"></p>
<p class="download-speed"></p>
<div class="download-progress-bar">
  <div class="download-progress-bar-fill"></div>
</div>
<div class="download-image"></div>
