<style>
  .start-button {
    display: none;
  }
  .download-image {
    background-image: url("/{{ id }}/download.bmp?size=10000000&i=0&ts={{ timestamp }}");
  }
  .download-progress-bar-fill {
    animation: download-progress {{ test_duration }}s normal forwards linear;
  }
  @keyframes download-progress {
    0% { width: 0%; }
    100% { width: 100%; }
  }
</style>
<article class="download">
  <p class="status-text">Testing download...</p>
  <div class="download-speed">Download:&nbsp;</div>
  <div class="download-latency">Latency:&nbsp;</div>
  <div class="download-progress-bar" aria-label="Download progress bar">
    <div class="download-progress-bar-fill" aria-hidden="true"></div>
  </div>
  <div class="hidden-element download-image" aria-hidden="true"></div>
</article>
